/* Général */

a {
    color: #242221;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #168ccc;
}

body {
    margin: 0;
    padding: 0;
    font-family: "spinnaker";
    color: #242221;
}

#retourAccueil {
    margin: 10px;
}

.titre {
    margin-top: 80px;
}

.telechargement {
    display: block;
}
.telechargement#first {
    margin-top: 80px;
}

#imgdetails {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blue {
    text-align: center;
    color: #168ccc;
}

/* Classe enlevant le caractère flottant des blocs */

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

/* Importation de police */

@font-face {
    font-family: "spinnaker";
    src: url('../police/Spinnaker-Regular.ttf');
}

/* Header */

#entete {
    width: 100%;
    position: fixed;
    top:0;
    bottom: auto;
    height: 60px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    z-index: 100000;
}

#entete h1 {
    float: left;
    width: 295px;
    height: 46px;
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 20px;
    color: #168ccc;
}

#entete a {
	color: #168ccc;	
    text-decoration: none;
    text-align: center;
}

#entete a:hover {
    color: #168ccc;
}

/* Bloc de navigation */

#menu {
    float: right;
    width: 65%;
    height: 100%;
}

#menu {
    text-align: center;
    background-color: #f6f6f6;
    height: 60px;
}

#menu ul {
    display: inline-block;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px; 
    list-style-type: none;
}

#menu li {
    color: #55514d;
    float: left;
    width: 180px;
    height: 40px;
    padding: 0px;
    line-height: 40px;
    background-color: #f6f6f6;
    border-right: 1px solid #DCDCDC;
}

#menu li:last-child {
    border-right: 0px solid #DCDCDC;
}

#menu li a:hover {
    color: #168ccc;
}

#menu li a:active {
    color: #168ccc;
}

#menu li a {
    display: block;
    text-decoration: none;
    color: #55514d;;
}

.bx-viewport {
    margin-top: 20px;
}

#bx-pager {
    padding: 20px;
    padding-bottom: 0;
}

.bx-wrapper {
    margin-bottom: 100px;
}

.bxslider figcaption {
    color: black;
    background-color: #CCC;
    padding: 5px;
}

/* Formulaires */

#uploadForm {
    margin-top: 80px;
    margin-left: 10px;
}
#formEdit {
    margin-top: 80px;
    margin-left: 10px;
}

/* Description */

#desc {
    width: 87%;
    min-height: 200px;
    padding-top: 60px;
    margin-left: 10%;
    margin-right: 3%;
    text-align: center;
}

#desc h1 {
    color: #168ccc;
    text-align: center;
    margin-left: -7%;
    font-size: 35px;
}

#desc .colonne {
    width: 29%;
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#desc .icons {
    width: 60px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.colonne h3 {
    color: #279ddd;
}

/* Bandeau */

#bandeau {
    margin-top: 20px;
    background-color: #168ccc;
    height: 80px;
    width: 100%;
}

#bandeau h3 {
    text-align: center;
    line-height:80px;
    color: #f6f6f6;
    font-size: 30px;
}

#fleche_bas {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top:15px solid #168ccc;
}

/* A propos */

#apropos {
    width: 100%;
    min-height: 120px;
    padding-top: 5px;  
    margin-top: 20px;
    background-color: #168ccc;
    color: #DADADA;
    text-align: center;
}

#apropos h3 {
    font-size: 20px;
}

#apropos p {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0px;
}

#apropos a {
    color: #DADADA; 
    text-decoration: none;
}

#apropos a:hover {
    color: #252525;
}

#gal-photos figure {
    width: 15%;
    display: inline-block;
    text-align: center;
}
#gal-photos {
    display: block;
    text-align: center;
}

#keywords {
    display: none;
}

#flickr {
    text-align: center;
}

/* Tableau détails */

tbody tr:nth-child(even) {
   background-color: #EEE;
}

table {
   padding-left: 10px;
   padding-right: 10px;
   margin-left: auto;
   margin-right: auto;
}

/* Pour les petits écrans */
@media screen and (max-width: 900px) {

    #entete h1 {
        width: 180px;
        font-size: 18px;
        line-height: 40px;
    }

    #menu {
        float: right;
        width: 65%;
        height: 100%;
    }

    #menu li {
        width: 110px;
        font-size: 13px;
    }
}